.nav-link {
    color: white;
    opacity: 1;
}

.nav-link:hover {
    color: white;
    opacity: .5;
    transition: opacity .6 ease-out;
    -moz-transition: opacity .6s ease-out;
    -webkit-transition: opacity .6s ease-out;
    -o-transition: opacity .6s ease-out;
}

.nav-item {
    border-bottom: solid 1px white;
}

#socialIcon {
    padding-left: 30px;
    opacity: 1
}

#socialIcon:hover {
    opacity: .5;
    transition: opacity .6 ease-out;
    -moz-transition: opacity .6s ease-out;
    -webkit-transition: opacity .6s ease-out;
    -o-transition: opacity .6s ease-out;
}


.sticky-footer {
    width: 100%;
    height: 8%;
    background: #666666;
    position: fixed;
    bottom: 0;
    text-align: center;
    color: white;
    padding-top: 12px;
    border-top: 8px solid #4aaaa5;
    clear: both;
    margin-top: 185px;
}